.fancy-card-grid {
  // just for the demo
  margin: 6rem auto;
  width: min(100% - 2rem, 60rem);

  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(4, 1fr);
}

.fancy-card {
  padding: 1rem;
  display: grid;
  border: 1px solid var(--clr-neutral-400);
  border-bottom: 5px solid var(--clr-primary);
  aspect-ratio: 1 / 0.7;

  &__number {
    color: var(--clr-primary);
    width: min-content;
    margin-left: auto;
  }

  &__title {
    font-size: 2rem;
    font-weight: 600;
    line-height: 1;
    width: min-content;
    margin-top: auto;
  }

  &--large {
    aspect-ratio: 1 / 1;
  }

  img,
  &__arrow {
    display: none;
  }
}
