.fancy-card-grid {
  // just for the demo
  margin: 6rem auto;
  width: min(100% - 2rem, 60rem);

  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(4, 1fr);
}

.fancy-card {
  --padding: 1rem;

  text-decoration: none;
  color: inherit;
  background-color: var(--clr-neutral-100); // I don't think it is required.

  padding: var(--padding);
  display: grid;
  border: 1px solid var(--clr-neutral-400);
  border-bottom: 5px solid var(--clr-primary);
  aspect-ratio: 1 / 0.7;
  grid-row: 2;

  position: relative;
  z-index: 1;
  transition: transform 350ms ease, background-color 350ms ease,
    color 350ms ease, z-index 0ms 350ms linear;

  &__number {
    color: var(--clr-primary);
    width: min-content;
    margin-left: auto;
  }

  &__title {
    font-size: 2rem;
    font-weight: 600;
    line-height: 1;
    width: min-content;
    margin-top: auto;
  }

  &__arrow {
    font-size: 2rem;
    color: var(--clr-primary);
    position: absolute;
    inset: auto var(--padding) calc(var(--padding) / 4) auto; // auto in inset means don't worry about it
  }

  &--large {
    aspect-ratio: 1 / 1;
  }

  &--offset-up {
    grid-row: 1 / span 2;
  }
  &--offset-down {
    grid-row: 2 / span 2;
  }

  &::before {
    pointer-events: none; // !!! Very smart way to avoid hover over shadow still makes the card pops!!!!

    // Transform on opacity is better than transform on box-shadow
    opacity: 0;
    content: '';
    position: absolute;
    inset: 0;
    //box-shadow: 0 0 3rem rgb(black, 1);
    background: black;
    filter: blur(2em); // The lower the blur value, the more square you can see.
    z-index: -1;
    transform: translate(0, 0); // I don't think you need this line.
    transition: opacity 350ms ease, transform 350ms ease;
  }

  &:hover,
  &:focus {
    background: var(--clr-neutral-900);
    transform: scale(1.35);
    border: 0;
    z-index: 10;
    transition: transform 350ms ease, background-color 350ms ease,
      color 350ms ease;

    .fancy-card__title {
      color: var(--clr-neutral-100);
    }

    &::before {
      opacity: 0.4;
      transform: translate(-50%, 50%);
    }
  }

  img {
    display: none;
  }
}
